USE [HavaalaniDbMvc]
GO
/****** Object:  Table [dbo].[tblUcaklar]    Script Date: 15.5.2020 13:16:01 ******/
DROP TABLE [dbo].[tblUcaklar]
GO
/****** Object:  Table [dbo].[tblHavaalanlari]    Script Date: 15.5.2020 13:16:01 ******/
DROP TABLE [dbo].[tblHavaalanlari]
GO
/****** Object:  Table [dbo].[tblAdminler]    Script Date: 15.5.2020 13:16:01 ******/
DROP TABLE [dbo].[tblAdminler]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 15.5.2020 13:16:01 ******/
DROP TABLE [dbo].[__MigrationHistory]
GO
USE [master]
GO
/****** Object:  Database [HavaalaniDbMvc]    Script Date: 15.5.2020 13:16:01 ******/
DROP DATABASE [HavaalaniDbMvc]
GO
/****** Object:  Database [HavaalaniDbMvc]    Script Date: 15.5.2020 13:16:01 ******/
CREATE DATABASE [HavaalaniDbMvc]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HavaalaniDbMvc', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.LOCALHOST\MSSQL\DATA\HavaalaniDbMvc.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HavaalaniDbMvc_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.LOCALHOST\MSSQL\DATA\HavaalaniDbMvc_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HavaalaniDbMvc].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HavaalaniDbMvc]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 15.5.2020 13:16:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblAdminler]    Script Date: 15.5.2020 13:16:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblAdminler](
	[AdminId] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
 CONSTRAINT [PK_dbo.tblAdminler] PRIMARY KEY CLUSTERED 
(
	[AdminId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblHavaalanlari]    Script Date: 15.5.2020 13:16:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblHavaalanlari](
	[HavaalaniId] [int] IDENTITY(1,1) NOT NULL,
	[Havaalani_Adi] [varchar](50) NOT NULL,
	[Havaalani_Kodu] [varchar](75) NOT NULL,
 CONSTRAINT [PK_dbo.tblHavaalanlari] PRIMARY KEY CLUSTERED 
(
	[HavaalaniId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblUcaklar]    Script Date: 15.5.2020 13:16:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUcaklar](
	[UcakId] [int] IDENTITY(1,1) NOT NULL,
	[Ucak_Adi] [varchar](50) NOT NULL,
	[Kapasite] [int] NOT NULL,
 CONSTRAINT [PK_dbo.tblUcaklar] PRIMARY KEY CLUSTERED 
(
	[UcakId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tblAdminler] ON 

INSERT [dbo].[tblAdminler] ([AdminId], [username], [password]) VALUES (1, N'serkan', N'!1230123Sg')
SET IDENTITY_INSERT [dbo].[tblAdminler] OFF
SET IDENTITY_INSERT [dbo].[tblHavaalanlari] ON 

INSERT [dbo].[tblHavaalanlari] ([HavaalaniId], [Havaalani_Adi], [Havaalani_Kodu]) VALUES (9, N'Istanbul Sabiha Gokcen International Airport', N'SAW')
INSERT [dbo].[tblHavaalanlari] ([HavaalaniId], [Havaalani_Adi], [Havaalani_Kodu]) VALUES (10, N'Los Angeles International Airport', N'LAX')
INSERT [dbo].[tblHavaalanlari] ([HavaalaniId], [Havaalani_Adi], [Havaalani_Kodu]) VALUES (11, N'London City Airport', N'LCY')
SET IDENTITY_INSERT [dbo].[tblHavaalanlari] OFF
SET IDENTITY_INSERT [dbo].[tblUcaklar] ON 

INSERT [dbo].[tblUcaklar] ([UcakId], [Ucak_Adi], [Kapasite]) VALUES (6, N'Airbus 320-200', 159)
INSERT [dbo].[tblUcaklar] ([UcakId], [Ucak_Adi], [Kapasite]) VALUES (7, N'Airbus 320-200neo', 180)
INSERT [dbo].[tblUcaklar] ([UcakId], [Ucak_Adi], [Kapasite]) VALUES (8, N'Boeing 737-800', 165)
SET IDENTITY_INSERT [dbo].[tblUcaklar] OFF
USE [master]
GO
